@font-face {
    font-family: 'Glancyr';
    src: url('Glancyr-Regular.woff2') format('woff2'),
        url('Glancyr-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glancyr';
    src: url('Glancyr-Medium.woff2') format('woff2'),
        url('Glancyr-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glancyr';
    src: url('Glancyr-Bold.woff2') format('woff2'),
        url('Glancyr-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glancyr';
    src: url('Glancyr-SemiBold.woff2') format('woff2'),
        url('Glancyr-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

